**/node_modules
**/public/hot
**/public/storage
**/storage/*.key
**/vendor
.env.example
**/tests
.fleet
.idea
.vscode
**/.git*
*.js
todo.txt
pm2.yml
phpunit.xml
package.*
Makefile
jsconfig.json
*.md
.editorconfig
docker-compose.yaml
Dockerfile
resources/js
.dockerignore