.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: "Roboto", arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color 0.218s, border-color 0.218s,
        box-shadow 0.218s;
    transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity 0.218s;
    transition: opacity 0.218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
}

.gsi-material-button:disabled .gsi-material-button-state {
    background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #001d35;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #001d35;
    opacity: 8%;
}

.full-main-content {
    height: calc(100vh - 64px);
}

.full-content-section {
    height: calc(100vh - 204px);
}

.full-sidebar {
    height: calc(100vh - 64px);
}

div.relative.h-full.w-full.p-4.max-w-2xl:focus {
    border: 0;
    outline: none;
}

.p-column-header-content svg path {
    fill: white;
}
.p-datatable-wrapper {
    overflow-y: hidden !important;
}

div.p-dropdown.p-component.p-inputwrapper,
div.p-dropdown.p-component.p-inputwrapper.p-focus.p-inputwrapper-focus {
    padding: 0 !important;
}

div.p-dropdown.p-component.p-inputwrapper > input,
div.p-dropdown.p-component.p-inputwrapper.p-focus.p-inputwrapper-focus > input,
div.p-dropdown.p-component.p-inputwrapper > input:focus,
div.p-dropdown.p-component.p-inputwrapper.p-focus.p-inputwrapper-focus
    > input:focus {
    border-radius: 10px;
    border-width: 0px !important;
    border-color: whitesmoke !important;
}

span.p-inputnumber > input,
span.p-inputnumber > input:focus,
span.p-inputnumber > input,
span.p-inputnumber.p-inputwrapper-focus > input:focus {
    border-radius: 10px;
    border-width: 0px !important;
    border-color: whitesmoke !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

h1 {
    font-size: 16px;
    margin-top: 0;
}

p {
    color: rgb(107, 114, 128);
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card {
    max-width: 620px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 16px;
}

.card p:last-child {
    margin-bottom: 0;
}

.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://reports.ieraafrica.org/img/interview.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.feature-icon {
    transition: all 0.3s ease;
}

.feature-card:hover .feature-icon {
    transform: scale(1.1);
    color: #3b82f6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
